In [2]:
import pandas as pd

csv_path_old = "C:/Users/chuck/OneDrive/Desktop/filtered_df.csv"
csv_path_new = "C:/Users/chuck/OneDrive/Desktop/filtered_df.csv"

In [3]:
pd.read_csv(csv_path_old)

     Unnamed: 0      image_name  good  crack  corrossion
0             0     image_0.jpg  0.33    0.0        0.66
1             1     image_1.jpg  0.33    0.0        0.66
2             2     image_2.jpg  1.00    0.0        0.00
3             3     image_3.jpg  0.33    0.0        0.66
4             4     image_4.jpg  0.33    0.0        0.66
..          ...             ...   ...    ...         ...
744        2468  image_2468.jpg  1.00    0.0        0.00
745        2470  image_2470.jpg  0.33    0.0        0.00
746        2471  image_2471.jpg  1.00    0.0        0.00
747        2472  image_2472.jpg  1.00    0.0        0.00
748        2473  image_2473.jpg  1.00    0.0        0.00

[749 rows x 5 columns]